[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ATACCoGAPS"]
	path = ATACCoGAPS
	url = https://github.com/fertiglab/ataccogaps
[submodule "scatterHatch"]
	path = scatterHatch
	url = https://github.com/fertiglab/scatterhatch
